body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

label {
    font-size: 15px;
    color: black ;
    width:150px;
    display:inline-block;
}

img {
    max-width: 100%;
    height:auto;
}   

.big{
    width:200px;
    text-align: center;
    padding: 20px;
}