body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

label {
    font-size: 20px;
    color: darkgreen;
    width:150px;
    display:inline-block;
}

img {
    max-width: 100%;
    height:auto;
}   

.big{
    width:250;
    text-align: center;
    padding: 20px;
}